{% include 'FBuilderFBBundle:General:head.html.twig'%}
<div style="color:white">
    <h2>The page you requested is not availbale...Please try again </h2>
</div>

{% include 'FBuilderFBBundle:General:footer.html.twig'%}
